# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store

# IDE-specific files
.idea/

# Build/test artifacts
dist/
build/
coverage/
/generated/prisma
